<html lang="en">
<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="~/css/authstyle.css" rel="stylesheet" type="text/css" />
  
</head>
<body>


    @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
    @await RenderSectionAsync("Valdition" , required:false)
</body>
</html>

