
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/auth-Layout.cshtml";
}

<h1> Check Your Inbox </h1>

<div class="">
    <div>
        <div>
            <div>
                Password Reset Link has been Sent to your email . Please check Your Inbox :)
            </div>
        </div>
    </div>

</div>