@model ForgetPasswordVM

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/auth-Layout.cshtml";
}




<div class="container">
    <form asp-action="SendEmail" method="post"  class="form">
      


        <div class="form-control">
            <label for="email">Email</label>
            <input asp-for="Email" placeholder="Enter email" />
          
        </div>
       
     
        <button type="submit" value="ResrtPassword"></button>
      
    </form>

</div>

@section Valdition{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


