@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/auth-Layout.cshtml";
}


<div class="container">
    <form  asp-action="Register" method="post" class="form">
        <h2>Hey bub, ya gotta register!</h2>
       
         <div class="form-control">
            <label for="FName">First Name</label>
            <input asp-for="FName" placeholder="Enter Your First Name" />
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="LName">Last Name</label>
            <input asp-for="LName" placeholder="Enter Your Last Name" />
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="UserName">LasUserNamet</label>
            <input asp-for="UserName" placeholder="Enter Your  UserName" />
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="email">Email</label>
            <input asp-for="Email" placeholder="Enter email" />
            <small>Error message</small>
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input asp-for="Password" placeholder="Enter password" />
            <small>Error message</small>
        </div>
        <div class="form-control">
            <label for="password">Confirm password</label>
            <input asp-for="ConfirmPassword" placeholder="Renter your password" />
            <small>Error message</small>
        </div>
        <button type="submit">Submit</button>
        <p>Don't have an acount <a asp-action="Login">Login Now</a></p>
    </form>
    
</div>

@section Valdition{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
